# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=iam

# Security
SECRET_KEY=7e23e1a55eea04523ec56c86554b5640d2c1f6919e89efa9bb0a12efde5e7cf3
ENCRYPTION_CURRENT_KEY=YADrK143ZO5TGwKAHKWr3QhRsUDqBj4_4_DtiH-QA-w=
BCRYPT_COST=10

# Token TTL (seconds)
ACCESS_TOKEN_TTL=30
REFRESH_TOKEN_TTL=604800
RESET_TOKEN_TTL=600
MFA_SETUP_TOKEN_TTL=300
MFA_CHALLENGE_TOKEN_TTL=120

# Email (SMTP)
SMTP_HOST=localhost
SMTP_PORT=1025

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# App
APP_HOST=0.0.0.0
APP_PORT=8000
